/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5; 
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fundo-azul: #EAF2FD;
   --color-caixas: #fbfbfb;
   --azul-botoes:#2a7ae4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/
/*header completo*/
section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    /*margin: 0px 153px;*/
    margin-left: 10rem;
    margin-right:10rem;
}

/*nome e ícone */
section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: var(--color-titulos);
}

/* itens do menu */
nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    width: 750px;
    font-size: 16px;
}

/* ajuste do ícone */
header img {
    margin-right: 16px;
}

/*corrigindo margin da sessão de título*/
section.title{
    margin-left: 10rem;
    margin-right:10rem;
}

/* manipulando tamanho do container */
div.title__container{
   width: 700px;
}

/*título principal*/
div.title__container h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

div.title__div{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

section.title img.title__profile {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 100%;
}

section.title div.title__div div.title__container {
    font-size: 17px;
    line-height: 23px;
    width: 600px;
}

section.title div.title__div div.title__container ul.title__network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    width: 500px;
}

/*Sessão About*/

section.about{
    /*padding-left: 150px;
    padding-right: 350px;*/
    margin-left: 10rem;
    margin-right:10rem;
    background-color: var(--color-fundo-azul);
}

section.about div.about__container {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

section.about div.about__container h3.about__title {
    font-size: 32px;
}

section.about div.about__container p.about__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

/*estilo dos títulos das próximas sessões */
.section__title{
    font-size: 22px;
    text-align: center;
}

/* Sessão Skills */
section.skills{
    /*padding-left: 66px;*/
    margin-left: 10rem;
    margin-right:10rem;
}

section.skills div.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

section.skills div.skills__line div.skills__box {
        display: flex;
        flex-direction: column;
        background-color: var(--color-caixas);
        align-items: flex-end;
        padding: 16px;
        margin: 23px 15px 23px 8px;
        width: 150px;
        height: 160px;
}

.skills__box ul{
	margin: 0;
	padding: 0;
}
/*Sessão Hobbies*/

section.hobbies{
    /*padding-left: 66px;*/
    margin-left: 10rem;
    margin-right:10rem;
}

section.hobbies div.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

section.hobbies div.hobbies__line div.hobbies__box {
    display: flex;
    flex-direction: column;
    background-color: var(--color-caixas);
    align-items: flex-end;
    padding: 16px;
    margin: 23px 15px 23px 8px;
    width: 150px;
    height: 160px;
}

.hobbies__box ul{
	margin: 0;
	padding: 0;
}
/* Experiência Acadêmica*/

section.academic{
    /*padding: 64px 0;*/
    margin-left: 10rem;
    margin-right:10rem;
	background-color:var(--color-fundo-azul);
}

section.academic div.academic__courses{
	display:flex;
	justify-content: center;
}

section.academic div.academic__courses div.academic__courses__box{
	width: 26.5rem;
	margin: 0 1rem;
}	

div.academic__courses__box ul.academic__courses__list{
	margin: 0;
	padding: 0;
	text-align: center;
}

div.academic__courses ul li{
    padding: 0;
    margin: 32px;
}

div.academic__courses ul li.academic__courses__item__img{
    background-color: var(--color-caixas);
    padding: 8%;
    height: 128px;
}


/* experiência*/

section.experience{
    /*margin:64px;
    padding: 0px;*/
    margin-left: 10rem;
    margin-right:10rem;
}

section.experience div.experience__box{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;    
}

div.experience__box:nth-child(2n){
    flex-direction: row-reverse;
}

img.experience__img{
    max-width:50%;
    width:auto;
}

div.experience__info{
    display:flex;
    flex-direction:column;
}

div.experience__description{
    display:flex;
    justify-content:space-around;
}

h2.experience__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    text-align:center;
}

h3.experience__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
    text-align:center;
}

button.experiencia__botao--repo{
    color: var(--azul-botoes);
    font-weight: 400;
    font-size:16px;
    line-height: 18.78px;
}

button.experiencia__botao--demo{
    background-color: var(--azul-botoes);
    color: white;
    font-weight: 400;
    font-size:16px;
    line-height: 18.78px;
    border-color: var(--azul-botoes);
}

/*Contato*/

section.formcontato{
    /*padding:60px;*/
    margin-left: 10rem;
    margin-right:10rem;
    display:flex;
    justify-content: center;
}

img.formcontato__img{
    width: 464px;
    height: 593px;
}

div.formcontato__text{
    text-align:left;
    padding-left:10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

h2.formcontato__title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 0px;
}

h3.formcontato__subtext{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

input.formcontato__input{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.formcontato__textarea{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.formcontato__botao{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--azul-botoes);
    color:white;
    width: 165px;
    height: 51px;
    border-width: 0;
}

div.formcontato__contacto{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

form.formcontato__form{
    padding-left:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-grow: 1;
}

/*footeer*/

section.footer{
    text-align:center;
    margin-left: 10rem;
    margin-right:10rem;   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
