/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5; 
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fundo-azul: #EAF2FD;
   --color-caixas: #fbfbfb;
   --azul-botoes:#2a7ae4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/
/*header completo*/
section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0px 153px;
}

/*nome e ícone */
section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: var(--color-titulos);
}

/* itens do menu */
nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    width: 750px;
    font-size: 16px;
}

/* ajuste do ícone */
header img {
    margin-right: 16px;
}

/*corrigindo margin da sessão de título*/
section.title{
    margin: 32px 0px;
}

/* manipulando tamanho do container */
div.title__container{
    width: 800px;
}

/*título principal*/
div.title__container h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 50px;
}

div.title__div{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

section.title img.title__profile {
    width: 300px;
    height: 300px;
}

section.title div.title__div div.title__container {
    font-size: 17px;
    line-height: 23px;
    width: 600px;
}

section.title div.title__div div.title__container ul.title__network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    width: 500px;
}

/*Sessão About*/

section.about{
    padding-left: 110px;
    padding-right: 350px;
    background-color: var(--color-fundo-azul);
}

section.about div.about__container {
    width: 700px;
}

section.about div.about__container h3.about__title {
    font-size: 32px;
}

section.about div.about__container p.about__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

/*estilo dos títulos das próximas sessões */
.section__title{
    font-size: 22px;
    text-align: center;
}

/* Sessão Skills */
section.skills{
    padding-left: 66px;
}

section.skills div.skills__line{
    display: flex;
    flex-wrap: wrap;
}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
